tree-sitter
tree-sitter-css
tree-sitter-html
tree-sitter-javascript
tree-sitter-python
tree-sitter-typescript
accelerate
transformers
torch
# For CUDA GPU support
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu129
numpy
sentence-transformers
jsonc-parser
